.nav {
    width: 900px;
    height: 60px;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img {
    width: 50px;
    height: 40px;
    margin: 10px;
}
h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 100;
}
ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li {
    margin: 0px 60px;
}
a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-decoration: none;
}